[submodule "grid"]
	path = ig-9cut
	url = https://github.com/spencer0124/insta-grid-splitter.git
[submodule "ig-carousel"]
	path = ig-carousel
	url = https://github.com/spencer0124/insta-carousel.git
[submodule "assets"]
	path = assets
	url = https://github.com/spencer0124/web-tools-common-assets.git
